.App {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Idbox {
  width: 100px;
  height: 100px;
  background: #fff;
  border: black solid;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.selector {
}

.selector-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-col {
  background-color: green;
}
